@charset "utf-8";

.blind {
  text-indent: -9999px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid black;
  background: lightgray;
}

.editor_wrap {
  display: block;
  margin: 0 20px;
}

.image_wrap {
  position: relative;
  width: 700px;
  height: 411px;
  margin: 0 20px;
  border: 1px solid red;
}

.canvas_wrap {
  border: 2px solid #aaa;
  margin-top: 50px;
  width: 700px;
  height: 411px;
}

.canvas_wrap canvas {
  position: absolute;
  width: 700px;
  height: 411px;
}

.canvas_wrap .file_image {
  position: relative;
  top: 0;
  left: 0;
  width: 700px;
  height: 411px;
}

.image_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #aaa;
  margin-top: 50px;
}

.image_wrap canvas {
  max-width: 100%;
  max-height: 100%;
}

.drag_area {
  position: absolute;
  top: 20px;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100px;
  margin-bottom: 10px;
  border: 2px dashed #6c67e3;
  color: #4f49ec;
}

.drag_area text {
  line-height: 100px;
  display: flex;
  justify-content: center;
  line-height: 100px;
}

.drag_area input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  color: red;
}

.button_wrap {
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.button_wrap button {
  width: 100px;
  height: 40px;
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;
}
